.settings-button {
  width: 32px;
  height: 32px;
  background-image: url('../assets/icons/settings.png');
}

.settings {
  position: fixed;
  width: 350px;
  border-radius: 5px;
  bottom: 70px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.64);
  opacity: 0;
  transition: .3s;
  z-index: -1;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0,0,0,.2);
  z-index: -1;
}

.show-settings {
  opacity: 1;
  z-index: 10;
}

.show-blocker {
  z-index: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  background-color: rgba(204, 204, 204, 0.345);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.728);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: coral;
}

input:focus + .slider {
  box-shadow: 0 0 1px coral;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.settings > h2 {
  text-align: left;
  padding-bottom: 10px;
  opacity: .8;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.setting-name {
  opacity: .8;
}

.app-toggle,
.lang-toggle,
.bg-settings {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.bg-settings,
.apps-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-toggle {
  align-items: center;
}

.bg-sources {
  width: 180px;
}

.bg-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.bg-tag {
  height: 30px;
  width: 180px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-color: transparent;
  transition: 0.3s;
}

.bg-tag:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

.bg-gh-description {
  margin-top: 5px;
  text-align: left;
  font-size: 12px;
  opacity: 0.5;
}

.lang-toggle {
  padding-bottom: 10px;
  padding-top: 10px;
}

.lang-lable,
.bg-lable {
  opacity: .5;
  cursor: pointer;
}

.lang-on,
.bg-on {
  opacity: 1;
}

.hidden-bg-option {
  display: none;
}