.settings-button {
  width: 32px;
  height: 32px;
  background-image: url('../assets/icons/settings.png');
  animation: spin 3s;
}

.settings {
  position: absolute;
  width: 350px;
  height: 450px;
  border-radius: 5px;
  bottom: 70px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.64);
  opacity: 0;
  transition: .3s;
  z-index: -1;
}

.show-settings {
  opacity: 1;
  z-index: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  background-color: rgba(204, 204, 204, 0.345);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.728);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: coral;
}

input:focus + .slider {
  box-shadow: 0 0 1px coral;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.settings > h2 {
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 15px;
  opacity: .8;
  border-bottom: 1px solid rgba(255, 255, 255, 0.499);
}

.setting-name {
  opacity: .8;
}

.apps-list {
  margin-bottom: 15px;
}

.app-toggle,
.lang-toggle,
.bg-settings {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.lang-toggle {
  margin-bottom: 20px;
}

.lang-lable,
.bg-lable {
  opacity: .5;
  cursor: pointer;
}

.lang-on,
.bg-on {
  opacity: 1;
}