html {
    scroll-behavior: smooth;
}

body {
    background: rgb(174, 174, 174);
    max-height: 3500px;
}

.bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
    z-index: 10;
}

.bg-active {
    display: block;
}
.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    background: #fff;
  }

.btn {
    display: inline-block;
    background-color: #0D606F;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
.btn:hover {
    background-color: #117d90;
}

.section-header {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font: normal 40px 'Red Hat Text', sans-serif;
    color: #F2785C;
}


/* Header */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #f2775cb1;
    box-shadow: 0px 3px 5px #0d606fc0;
    font: normal 16px 'Red Hat Text', sans-serif;
    padding: 25px 8.4% 24px;
    z-index: 10;
}
.header-logo {
    display: inline-block;
    padding: 0px;
}
.nav {
    display: inline-block;
    width: 524px;
    padding: 0px;
    top: 35px;
    left: 494px;
}
.closeburger {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-item:nth-child(5) {
    display: none;
}
.menu-item:nth-child(6) {
    display: none;
}
.menu-link {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.menu-link:hover {
    color: rgb(207, 207, 207);
}
.menu-link::after {
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background-color: rgb(207, 207, 207);
    transition: .3s all;
}
.menu-link:hover::after {
    width: 100%;
}

.login-btn {
    width: 103px;
    height: 41px;
    box-shadow: 0px 5px 5px #974a39a7;
}
.hamburger {
    display: none;
}


/* Preview */
.preview {
    height: 765px;
    margin-top: -90px;
    padding: 122px 8.4% 0;
    background: url("../assets/img/promo-bg.jpg") center center/cover no-repeat;
    z-index: -10;
}
.preview-header {
    margin: 0;
    width: 75%;
    font: bold 80px 'Aleo', serif;
    color: #fff;
}
.preview-descr {
    margin-top: 35px;
    width: 85%;
    font: italic 20px 'Aleo', serif;
    font-weight: 700;
    color: #fff;
}
.preview-input-wrapper {
    position: relative;
    margin-top: 46px;
    width: 892px;
    height: 95px;
}
.preview-input {
    position: absolute;
    padding-left: 41px;
    width: 100%;
    height: 95px;
    font: normal 24px 'Aleo', serif;
    background-color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 15px;
}
.preview-input::placeholder {
    color: #F2785C;
    font: italic 24px 'Aleo', serif;
    font-weight: 200;
}
.preview-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 228px;
    height: 59px;
    font: normal 24px 'Red Hat Text', sans-serif;
    box-shadow: 0px 3px 5px #8b8b8b5a;
}


/* Steps */
.steps {
    position: relative;
    height: 424px;
    padding: 80px 76px 97px;
}
.steps-plan {
    display: flex;
    justify-content: space-around;
    top: 40px;
}
.steps-item {
    position: relative;
    width: 317px;
}
.steps-icon {
    display: block;
    margin: 0 auto;
}
.steps-descr {
    text-align: center;
    margin-top: 30px;
    font: normal 20px 'Aleo', serif;
    color: #0D606F;
}


/* Destinations */
.destinations {
    position: relative;
    overflow: hidden;
}
.destinations-slider {
    position: relative;
    top: 5px;
}
.slider-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-left: -99.3%;
    margin-bottom: 24px;
    width: 298.611%;
    transition: .3s all;
    z-index: -1;
}
.slider-content-item {
    position: relative;
    margin: 0 30px;
}
.slider-content-photo {
    border-radius: 16px;
    width: 100%;
}
.slider-content-header {
    position: absolute;
    margin: 0;
    bottom: 40px;
    left: 15px;
    color: #fff;
    font: normal 32px 'Red Hat Text', sans-serif;
}
.arrows {
    display: none;
    width: 20px;
    height: 20px;
    color: #F2785C;
    position: absolute;
    top: 50%;
    margin-top: -14px;
  }
.prev {
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(45deg);
    left: 30px;
    }
.next {
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(-135deg);
    right: 30px;
    }
.prev-slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 18%;
}
.next-slide {
    position: absolute;
    top: 0;
    right: 0;
    height: 95%;
    width: 18%;
}

.slider-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80px;
}
.slider-nav-element {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f2775c80;
    transition: .3s all;
}
.slider-nav-element.active {
    background-color: #F2785C;
}
.section-btn {
    display: block;
    position: relative;
    margin: 44px auto 0;
    padding-left: 56px;
    width: 228px;
    height: 59px;
    font: normal 24px 'Red Hat Text', sans-serif;
    box-shadow: 0px 3px 5px #8b8b8b5a;
    z-index: 1;
}
.arrow {
    display: inline-block;
    position: absolute;
    left: 31px;
    top: 9.5px;
}


/* Stories */
.stories {
    height: 1504px;
    padding: 80px 0 0;
}
.stories-content {
    height: 1331px;
    padding: 40px 8.3% 0;
    display: block;
    position: relative;
    background: url("../assets/img/stories-bg.jpg") center center/cover no-repeat;
}
.stories-content::after {
    height: 1271px;
    background-color: #fff;
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.stories-item {
    display: flex;
    height: 248px;
    margin-bottom: 30px;
}
.stories-item-img {
    align-self: flex-start;
    width: 33%;
    border-radius: 16px;
    margin-right: 3%;
    box-shadow: 0px 3px 5px #0a4b56df;
    z-index: 1;
}
.stories-item-img-mobile {
    display: none;
}
.stories-item-text {
    z-index: 1
}
.stories-item-header {
    margin-top: 0;
    margin-bottom: 25px;
    color: #0D606F;
    font: normal 35px 'Aleo', serif;
}
.stories-item-descr {
    margin: 0;
    color: #0D606F;
    font: normal 20px 'Aleo', serif;
}
.stories-item-descr .link {
    color: #0D606F;
    font: bold 20px 'Aleo', serif;
}


/* Footer */
.footer {
    max-width: 1440px;
    margin: 0 auto;
    height: 61px;
    top: -61px;
    display: block;
    position: relative;
    padding: 15px 8.4% 13px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
}
.footer-rights {
    margin: 5px 0 auto;
    padding: 0;
    display: block;
    font: normal 16px 'Red Hat Text', sans-serif;
    color: #fff;
}
.social {
    width: 150px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}