@media (max-width: 1200px) {
    .nav {
        width: 504px;
    }
    .preview-input-wrapper {
        width: 90%;
    }
    .stories-item-header {
        margin-bottom: 15px;
        font-size: 32px;
    }
}


@media (max-width: 992px) {
    .header {
        font-size: 14px;
    }
    .nav {
        width: 444px;
    }
    .stories-item-header {
        margin-bottom: 12px;
        font-size: 28px;
    }
    .stories-item-descr {
        font-size: 17px;
    }
    .stories-item-descr .link {
        font-size: 17px;
    }
}


@media (max-width: 768px) {
    .section-header {
        font: normal 30px 'Red Hat Text', sans-serif;
    }
    .header {
        font-size: 12px;
    }
    .nav {
        width: 324px;
    }
    .login-btn {
        width: 63px;
        height: 31px;
        box-shadow: 0px 5px 5px #974a39a7;
    }
    .preview-header {
        font-size: 60px;
    }
    .preview-input-wrapper {
        width: 100%;
    }
    .preview-input::placeholder {
        font: italic 16px 'Aleo', serif;
    }
    .steps {
        padding: 80px 26px 97px;
    }
    .stories {
        height: 1484px;
    }
    .stories-item-header {
        margin-bottom: 12px;
        font-size: 24px;
    }
    .stories-item-descr {
        font-size: 14px;
    }
    .stories-item-descr .link {
        font-size: 14px;
    }
    .footer-rights {
        font-size: 12px;
    }
    .footer {
        max-width: 1440px;
        margin: 0 auto;
        height: 61px;
        top: -54px;
        display: block;
        position: relative;
        padding: 15px 8.4% 13px;
    }
}


@media (max-width: 576px) {
    .header {
        font-size: 12px;
    }
    .nav {
        width: 324px;
    }
    .header-logo-text {
        display: none;
    }
    .login-btn {
        width: 63px;
        height: 31px;
        box-shadow: 0px 5px 5px #974a39a7;
    }
    .preview-input-wrapper {
        width: 100%;
        height: 48px;
    }
    .preview-input {
        padding-left: 16px;
        padding-top: 4px;
        height: 48px;
        font: normal 14px 'Aleo', serif;
    }
    .preview-input::placeholder {
        font: italic 14px 'Aleo', serif;
    }
    .preview-btn {
        top: 9px;
        right: 9px;
        width: 92px;
        height: 30px;
        font: normal 11px 'Red Hat Text', sans-serif;
    }
    .preview-header {
        width: 95%;
    }
    .steps-descr {
        text-align: center;
        margin-top: 30px;
        font: normal 14px 'Aleo', serif;
        color: #0D606F;
    }
    .stories-item-header {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .stories-item-descr {
        font-size: 12px;
    }
    .stories-item-descr .link {
        font-size: 12px;
    }
    .popup {
        width: 100%;
    }
}
.social {
    width: 120px;
}



@media (max-width: 390px) {
    body {
        max-height: 1465px;
    }
    .section-header {
        margin: 0;
        margin-bottom: 10px;
        font: normal 14px 'Red Hat Text', sans-serif;
    }

    .header {
        background-color: #f2775c00;
        box-shadow: none;
        align-items: flex-start;
        padding: 43px 16px 0;
    }
    .nav {
        position: fixed;
        top: 0;
        right:-170px;
        left: auto;
        width: 165px;
        height: 250px;
        padding: 8px 15px 30px 8px;
        background-color: #F2785C;
        border-radius: 16px;
        box-shadow: 0px 5px 5px #974a39a7;
        transition: 0.6s all;
        z-index: 100;

    }
    .closeburger {
        display: block;
    }
    .menu {
        margin-top: 6px;
        height: 176px;
        align-items: flex-end;
        flex-direction: column;
        
        font: normal 16px 'Red Hat Text', sans-serif;
    }

    .nav-active {
        right: 0;
    }
    .hamburger {
        display: block;
    }

    .login-btn {
        display: none;
    }


    .preview {
        height: 251px;
        padding: 142px 3.8% 0;
        background-image: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%),url("../assets/img/promo-bg-mobile.jpg"); 
    }
    .preview-header {
        display: none;
    }
    .preview-descr {
        display: none;
    }
    .preview-input-wrapper {
        margin-top: 0;
    }


    .steps {
        height: 193px;
        padding: 20px 15px 0px;
    }
    .steps-plan {
        justify-content: space-between;
    }
    .steps-item {
        margin-top: 12px;
        width: 117px;
    }
    .steps-icon {
        height: 70px;
    }
    .first-item-img {
        margin-left: 0;
        text-align: left;
    }
    .first-item {
        margin-left: 0;
        text-align: left;
        width: 90px;
    }
    .last-item {
        margin-right: 0;
        text-align: right;
    }
    .steps-descr {
        margin-top: 20px;
        font: normal 10px 'Aleo', serif;
    }

    .slider-content {
        margin-left: -100%;
        margin-top: 15px;
        margin-bottom: 12px;
        width: 300%;
    }
    .slider-content-item {
        margin: 0 7.5px;
    }
    .slider-content-photo {
        content: url("../assets/img/slider-2-mobile.jpg");
    }
    .slider-content-header {
        top: 8px;
        font: normal 20px 'Red Hat Text', sans-serif;
    }
    .arrows {
        display: block;
      }
    .prev-slide {
        display: none;
    }
    .туче-slide {
        display: none;
    }
    .slider-nav {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        margin: -20px auto 0;
        width: 36px;
    }
    .slider-nav-element {
        width: 8px;
        height: 8px;
        z-index: 10;
    }

    .section-btn {
        margin: 0 auto 0;
        padding-left: 26px;
        width: 92px;
        height: 30px;
        font: normal 11px 'Red Hat Text', sans-serif;
        z-index: 1;
    }
    .slider-btn {
        z-index: 0;
    }
    .arrow {
        display: inline-block;
        position: absolute;
        left: 12px;
        top: 10px;
        height: 10px;
        width: 10px;
    }

    .stories {
        height: 731px;
        padding: 20px 0 0;
    }
    .stories-content {
        height: 693px;
        padding: 10px 15px 0;
        background: url("../assets/img/stories-bg-mobile.jpg") center center/cover no-repeat;
        z-index: 0;
    }
    .stories-content::after {
        height: 628px;
    }
    .stories-item {
        height: 130px;
        margin-bottom: 15px;
    }
    .stories-item:nth-child(4) {
        margin-bottom: 10px;
    }
    .stories-item-img {
        display: none;
    }
    .stories-item-img-mobile {
        display: block;
        margin-right: 10px;
        width: 155px;
        height: 130px;
        align-self: flex-start;
        border-radius: 16px;
        box-shadow: 0px 3px 5px #0a4b56df;
        z-index: 1;
    }
    .stories-item-header {
        margin-top: 7px;
        margin-bottom: 10px;
        font: bold 11px 'Aleo', serif;
    }
    .stories-item-descr {
        font-size: 9px;
    }
    .stories-item-descr>span {
        display: none;
    }
    .stories-item-descr .link {
        font-size: 9px;
    }
    .footer {
        max-width: 1440px;
        margin: 0 auto;
        height: 65px;
        top: -55px;
        display: block;
        position: relative;
        padding: 15px 8.4% 13px;
    }
    .footer-rights {
        display: none;
    }
    .menu-item:nth-child(5) {
        display: block;
    }
    .menu-item:nth-child(6) {
        display: block;
    }
}
    
@media (max-width: 365px) {
    .stories-item-header {
        margin-top: 0;
        margin-bottom: 4px;
        font: bold 8px 'Aleo', serif;
    }
    .stories-item-descr {
        font-size: 7.7px;
    }
    .stories-item-descr .link {
        font-size: 7.7px;
    }
}