@media (max-width: 1200px) {
    .nav {
        width: 504px;
    }
    .preview-input-wrapper {
        width: 90%;
    }
    .stories-item-header {
        margin-bottom: 15px;
        font-size: 32px;
    }
}

@media (max-width: 992px) {
    .header {
        font-size: 14px;
    }
    .nav {
        width: 444px;
    }
    .stories-item-header {
        margin-bottom: 12px;
        font-size: 28px;
    }
    .stories-item-descr {
        font-size: 17px;
    }
    .stories-item-descr .link {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 12px;
    }
    .nav {
        width: 324px;
    }
    .login-btn {
        width: 63px;
        height: 31px;
        box-shadow: 0px 5px 5px #974a39a7;
    }
    .preview-header {
        font-size: 60px;
    }
    .stories-item-header {
        margin-bottom: 12px;
        font-size: 24px;
    }
    .stories-item-descr {
        font-size: 14px;
    }
    .stories-item-descr .link {
        font-size: 14px;
    }
    .footer-rights {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .header {
        font-size: 12px;
    }
    .nav {
        width: 324px;
    }
    .header-logo-text {
        display: none;
    }
    .login-btn {
        width: 63px;
        height: 31px;
        box-shadow: 0px 5px 5px #974a39a7;
    }
    .preview-input {
        height: 75px;
        font-size: 14px;
    }
    .preview-input::placeholder {
        font-size: 14px;
    }
    .preview-btn {
        top: 14px;
        right: 14px;
        width: 168px;
        height: 49px;
        font-size: 18px;
    }
    .preview-header {
        width: 95%;
    }
    .stories-item-header {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .stories-item-descr {
        font-size: 12px;
    }
    .stories-item-descr .link {
        font-size: 12px;
    }
}
.social {
    width: 120px;
}

@media (max-width: 390px) {
    .nav {
        display: none;
    }
    .login-btn {
        display: none;
    }
    .preview-header {
        display: none;
    }
    
    .preview-descr {
        display: none;
    }

    .preview-input-wrapper {
        width: 360px;
    }

    .stories-content {
        /* height: 1331px; */
        padding: 10px 15px 0;
    }
    .stories-item-img {
        margin-right: 10px;
        width: 155px;
        height: 130px;
    }
    .stories-item-header {
        font-size: 11px;
    }
    .stories-item-descr {
        font-size: 9px;
    }
}
    