.popup {
    position: fixed;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    border-radius: 16px;
    background: linear-gradient( rgba(255,255,255,1) 0%, rgba(13,96,111,1) 150%);
    color: #0D606F;
    padding: 25px 45px 23px;
    box-shadow: 0px 3px 5px #0a4e59c0;
    transition: 1s all;
    z-index: 1000;
}

@media (max-width: 650px) {
    .popup {
        width: 100%;
    }
}

.popup-active {
    top: 50%;
}

.form-header {
    text-align: center;
    font: bold 32px 'Aleo', serif;
    margin: 0 0 30px;
}

.form-element {
    margin-bottom: 20px;
}

.form-element>input {
    width: 100%;
    height: 54px;
    border: none;
    border-radius:10px;
    box-shadow: inset 0px 2px 3px #8b8b8b5a;
}

.form-button {
    width: 100%;
    border: none;
    border-radius:10px;
    font: normal 20px 'Red Hat Text', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 3px #8b8b8b5a;
}

.form-button>img {
    margin-right: 15px;
}

.fb-signin-button {
    height: 56px;
    background-color: #1877F2;
    color: #fff;
}

.goo-signin-button {
    height: 56px;
    background-color: #fff;
    color: #0D606F;
}

.signin-button {
    height: 54px;
    color: #fff;
    background-color: #0D606F;
}

.goo-signin-button {
    margin-bottom: 30px;
}

.form-element-divider>span {
    text-align: center;
    font: bold 20px 'Aleo', serif;
    opacity: 50%;
    margin-bottom: 10px;
}

.form-element-divider {
    display: flex;
    align-items: center;
}

.divider {
    height: 1px;
    flex-grow: 1;
    border-bottom: 1px solid #0D606F;
    margin: 0 9px;
  }
.divider-last {
    margin-top: 16px;
}

  .form-element>label {
    display: inline-block;
    margin-bottom: 5px;
    font: normal 16px 'Aleo', serif;
  }

  .form-element-divider>a, .register>.link, .login>.link {
    opacity: 100%;
    display: inline;
    margin: 0 auto 11px;
    color: #0D606F;
    font: bold 15px 'Aleo', serif;
  }

  .register, .login {
    display: block;
    margin: 11px auto 0;
    text-align: center;
    color: #0d606f7d;
    font: bold 15px 'Aleo', serif;
  }

  .hidden-popup-element {
    display: none;
  }