@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid rgb(31, 31, 31); */
  }

.header {
    position: relative;
    height: 90px;
    background-color: #f2775cb1;
    box-shadow: 0px 3px 5px #0d606fc0;
    font: normal 16px 'Red Hat Text', sans-serif;
    padding: 25px 120px 24px;
    z-index: 1;
}

.header-logo {
    position: relative;
    display: inline-block;
    padding: 0px;
}

.nav {
    position: absolute;
    display: inline-block;
    width: 494px;
    padding: 0px;
    top: 35px;
    left: 494px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-link {
    color: #fff;
    text-decoration: none;
}

.btn {
    position: absolute;
    display: inline-block;
    background-color: #0D606F;
    color: #fff;
    border: 0px;
    border-radius: 10px;
}

.login-btn {
    right: 120px;
    width: 103px;
    height: 41px;
    box-shadow: 0px 5px 5px #974b39;
}


.promo {
    height: 765px;
    margin-top: -90px;
    background: url("../assets/img/promo-bg.jpg") center center/cover no-repeat;
    z-index: -10;
}

.promo-header {
    position: relative;
    margin: 0;
    top: 122px;
    left: 120px;
    width: 892px;
    font: bold 80px'Aleo', serif;
    color: #fff;
}

.promo-descr {
    position: relative;
    margin-top: 35px;
    top: 122px;
    left: 120px;
    font: italic 20px'Aleo', serif;
    color: #fff;
}

.promo-input {
    position: relative;
    margin-top: 46px;
    padding-left: 41px;
    top: 122px;
    left: 120px;
    width: 892px;
    height: 95px;
    font: normal 24px'Aleo', serif;
    background-color: rgba(255,255,255,0.7);
    border: none;
    border-radius: 15px;

}

.promo-input::placeholder {
    color: #F2785C;
    font: italic 24px'Aleo', serif;
    font-weight: 700;
}

.promo-btn {
    position: relative;
    margin-left: -250px;
    top: 124px;
    left: 120px;
    width: 228px;
    height: 59px;
    font: normal 24px 'Red Hat Text', sans-serif;
    box-shadow: 0px 3px 5px #8b8b8b5a;
}


.plan {
    position: relative;
    height: 424px;
    padding: 80px 132px 97px 131px;
}

.plan-header {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font: normal 40px 'Red Hat Text', sans-serif;
    color: #F2785C;
}

.plan-steps {
    display: flex;
    justify-content: space-around;
    top: 40px;
    height: 247px;
}

.steps-item {
    position: relative;
}

.steps-icon {
    display: block;
    margin: 0 auto;
}

.steps-descr {
    text-align: center;
    margin-top: 30px;
    font: normal 20px'Aleo', serif;
    color: #0D606F;
}